<!DOCTYPE html>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <body>
        <div id="Mik">
            <form>
                <select v-model="pressed">
                    <option v-for="option in options" :value="option.val">
                       {{option.valu}}
                    </option>
                </select><br>
                <span>pressed:{{pressed}}</span>
            </form>
        </div>
        <br>
        <br>
        <br>

    </body>
<script src="vue.js"></script>
</html>