<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="check_the_friends">
   <form >
       <input type="checkbox" id="1" value="Mak" v-model="friends_check">
       <label for="Mak">Mak</label><br>
       <input type="checkbox" id="2" value="Mik" v-model="friends_check">
       <label for="Mik">Mik</label><br>
       <input type="checkbox" id="3" value="Sas" v-model="friends_check">
       <label for="Sas">Sas</label><br>
       <input type="checkbox" id="4" value="Ish" v-model="friends_check">
       <label for="Ish">Ish</label><br>
       <input type="checkbox" id="5" value="Hez" v-model="friends_check">
       <label for="Hez">Hez</label><br>
       <input type="checkbox" id="6" value="Duv" v-model="friends_check">
       <label for="Duv">Duv</label><br>
       <span>These are the friends: {{friends_check}}</span>
    </form>
</div>
<script src="vue.js"></script>
</html> 